body {
    overflow-x: hidden;
}

.main {
    background: #1e6af6;
}


nav {
    color: #fff;
}

nav ul li{
    display: inline-flex;
    line-height: 1.25;
    margin: 5px;
    margin-top: 25px;
}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 25px;
    margin-left: 40px;
    cursor: pointer;
}

.logo img {
    height: 45px;
}
.menu-icons{
    font-size: 3rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}
.others {
    float: right;
    margin-right: 20px;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
}

.others li a {
    text-decoration: none;
    color: rgba(235, 230, 230, 0.9);
}

.others li a:hover {
    color: #fff;
}

.spread {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 40px;
    align-items: center;
    line-height: 1.4;
}

.mobile img{
    height: 400px;
    margin-left: 20px;
}

.sign-up {
    border: 2px solid #fff;
    display: inline-block;
    background: #fff;
    padding: 0.4rem;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 0.5rem;
}

.sign-up a {
    text-decoration: none;
    color: #1e6af6;
    font-size: 1.1rem;
    font-weight: 600;
}

.organize {
    margin-left: 1%;
    margin-top: 50px;
    margin-right: 13%;
}

.organize h4 {
    font-size: 1.5rem;
    font-weight: 650;
}

.organize p {
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 550;
}

.organize a {
    text-decoration: underline;
    font-weight: 600;
}

.billy {
    margin-top: 15px;
    padding: 0.1rem;
    width: 55%;
    box-shadow: 5px 5px 5px 5px rgb(235, 233, 233);
    position: relative;
}
.billy img {
    width: 30px;
    position: absolute;
    top: 20%;
    left: 2%;
}

small {
    margin-right: 10px;
}
.bill {
    font-weight: 600;
    margin-left: 40px;
    margin-top: 7px;
}
.bill h6 {
    font-size: 0.8rem;
    font-weight: 600;
}

.billy p {
    margin-top: -10px;
    margin-left: 40px;
    white-space: nowrap;
    font-weight: 400;
}

.unique {
    background: rgb(231, 229, 229);
    padding: 4rem;
}
 
.unique h4 {
    font-weight: 600;
}

.img {
    margin-top: 50px;
    margin-bottom: 40px;
    cursor: zoom-out;
}

.banner {
    align-items: center;
}

.gmail {
    margin-right: -320px;
}

.gmail img {
    width: 170%;
}

.configure {
    padding: 4rem;
}

.configure h4 {
    font-weight: 600;
}

.astronaunt {
    margin-top: -70px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.card-head {
    color: rgb(163, 98, 224);
}
.card-group {
    background: rgb(231, 229, 229);
    padding: 0.2rem;
}
.card {
    margin: 0.2rem;
    padding: 0.5rem;
}

.card-img-top {
    height: 150px;
    width: 200px;
}

.card-title {
    margin-left: -26px;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
}
.card input {
    margin-left: -18px;
}

.card-text {
    white-space: nowrap;
    font-size: 0.9rem;
    margin-left: -18px;
}

.integrate {
    text-align: center;
    margin-bottom: 20px;
}   
.icons {
    text-align: center;
    margin-left: 40px;
    margin-bottom: 40px;
}
.fa {
    margin: 2%;
    font-size: 36px;
}
.fa-dropbox {
    color: rgb(7, 72, 252);
}

.fa-twitter-square {
    color: rgb(7, 72, 252);
}

.fa-facebook-square {
    color: rgb(2, 24, 83);
}
.subscribe {
    padding: 3rem;
    background: rgba(252, 3, 65, 0.911);
    color: #fff;
}
.sub {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
    margin-left: 8px;
    white-space: nowrap;
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}

.plans {
    font-size: 0.8rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.plans a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.foot ul li {
    list-style-type: none;
    text-decoration: underline;
    line-height: 1.7;
}
.foot {
    margin-top: 70px;
    margin-bottom: 40px;
}
.foot ul li a {
    color: gray;
}
.hire {
    color: #1e6af6;
}
.hire a {
    color: #1e6af6 !important;
}
.terms {
    text-decoration: none !important;
    color: gray;
    margin-top: 30px;
}

@media screen and (max-width: 986px){
    /* .others{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        overflow-y: scroll;
    } */

    /* .menu-icons{
        display: block;
    } */

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close{
        display: block;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .others{
        display: flex;
    }
    .gmail img {
        /* display: none; */
        margin-right: -320px;
        margin-top: 5px;
    }
    .img {
        margin-left: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width:982px) {
    .billy {
        width: 75%;
    }
    .organize {
        margin-left: 10%;
    }
}

@media screen and (max-width:764px) {
    .mobile {
        transform: translateX(30%);
    }
    .gmail {
        display: none;
    }
    .astronaunt {
        display: none;
    }

    .organize {
        display: none;
    }
}