* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.main {
    background: #1283da;
    position: relative;
    z-index: 1;
}

.navigation-bar {
    padding-left: 2rem;
    padding-right: 0;
    padding-top: 2rem;
    width: 100%;
    line-height: 1.25;
    box-sizing: border-box;
    font-weight: normal;
    font-size: .8rem;
}
.main-bar {
    max-width: 72rem;
    color: #fff;
    margin-left: 2%;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-flex;
    line-height: 1.25;
    margin-right: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
    outline: 0;
    cursor: pointer;
    letter-spacing: 0.01rem;
    box-sizing: border-box;
    line-height: 1.25;
}

.logo img {
    margin-top: -5%;
    height: 40px;
}
.menu-icons{
    font-size: 3rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}
.navigation-list {
    float: right;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
}

.navigation-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.navigation-list li a:hover {
    color: #fff;
}

.register {
    color: #fff !important;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 2%;
    margin-top: 4%;
}

.spread {
    display: flex;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 630;
    margin-bottom: 7rem;
}

.spread-signup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.25;
    box-sizing: border-box;
}

.sign-up {
    position: absolute;
    top: 55%;
    border: 2px solid #fff;
    display: inline-block;
    background: #fff;
    outline: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: -2px !important;
    /* margin-top: 1rem;
    margin-bottom: 4rem; */
    border-radius: 6px;
}

.sign-up a {
    text-decoration: none;
    color: #2d7ff9;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
}

.chart {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer
}
.chart img {
    width: 100%;
    height: 405px;
    box-shadow: 9px 9px rgba(43, 42, 42, 0.2);
    margin-right: 6%;
}

.mobile {
    margin-top: -4%;
}

.mobile img{
    /* width: 100%; */
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.organize {
    margin-left: 1%;
    margin-top: 50px;
    margin-right: 13%;
}

.organize h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1.25;
    box-sizing: border-box;
}

.organize h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.organize a {
    text-decoration: underline;
    font-weight: 600;
}

.billy {
    margin-top: 15px;
    padding: 0.1rem;
    width: 55%;
    box-shadow: 5px 5px 5px 5px rgb(235, 233, 233);
    position: relative;
}
.billy img {
    width: 30px;
    position: absolute;
    top: 20%;
    left: 2%;
}

small {
    margin-right: 10px;
}
.bill {
    font-weight: 600;
    margin-left: 40px;
    margin-top: 7px;
}
.bill h6 {
    font-size: 0.8rem;
    font-weight: 600;
}

.billy p {
    margin-top: -10px;
    margin-left: 40px;
    white-space: nowrap;
    font-weight: 400;
}

.mac {
    margin-top: 3rem;
    margin-right: -320px;
}

.mac img {
    width: 170%;
    height: 120%;
}

.ipad {
    margin-top: 2%;
    margin-bottom: -80px;
    margin-left: 5%;
}
.ipad img {
    width: 100%;
    height: auto;
}

.unique-container {
    background: rgb(231, 229, 229);
    position: relative;
    padding: 3rem;

}
.unique {
    display: flex;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}
 
.unique h2 {
    font-weight: 600;
    font-size: 1.9rem;
    /* padding-right: 2rem; */
}

.unique h4 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .01em;
    margin: 0;
    color: hsl(0,0%,20%);
}


.configure {
    display: flex;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding-top: 4rem;
}

.configure h2 {
    font-weight: 600;
    font-size: 2rem;
    /* padding-right: 2rem; */
}

.configure h4 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .01em;
    margin: 0;
    color: hsl(0,0%,20%);
}

.astronaunt {
    margin-top: -70px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.card-head {
    color: rgb(163, 98, 224);
}
.card-group {
    background: rgb(231, 229, 229);
    padding: 0.2rem;
}
.card {
    margin: 0.2rem;
    padding: 0.5rem;
}

.card-img-top {
    height: 150px;
    width: 200px;
}

.card-title {
    margin-left: -26px;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
}
.card input {
    margin-left: -18px;
}

.card-text {
    white-space: nowrap;
    font-size: 0.9rem;
    margin-left: -18px;
}

.integrate {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.integrate a {
    text-decoration: none;
    border-bottom: 2px solid #1e6af6;
    padding-bottom: 3px;
    color: #2d7ff9;
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: normal;
}
.integrate a:hover {
    border-bottom: 2px solid #04419c;
    color: #04419c;
}
.icons {
    text-align: center;
    margin-left: 40px;
    margin-bottom: 40px;
}
.fa {
    margin: 2%;
    font-size: 36px;
}
.fa-dropbox {
    color: rgb(7, 72, 252);
}

.fa-twitter-square {
    color: rgb(7, 72, 252);
}

.fa-facebook-square {
    color: rgb(2, 24, 83);
}
.subscribe {
    padding: 3rem 2rem 3rem 2rem;
    background: #f82b60;
    color: #fff;
}
.create h4{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
}
.sub {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0.5rem;
}

.sub input {
    width: 70%;
}

.btn {
    margin-left: 8px;
    white-space: nowrap;
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}

.plans {
    font-size: 0.9rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.plans a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    border-bottom: 1px solid rgba(245, 242, 242, 0.5);
    padding-bottom: 1px;
}

.plans a:hover {
    border-bottom: 2px solid rgba(253, 253, 253, 0.5);
}

.foot {
    width: 100%;
    padding: 4rem 2rem 4rem 2rem;
    margin-left: 2%;
}

.flex-item {
    width: 230.4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.foot ul li {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 0.5rem;
    line-height: 1.7;
}

.foot ul li a {
    text-decoration: none;
    border-bottom: 2px solid hsla(0,0%,0%,0.1);
    padding-bottom: 2px;
    color: hsl(0,0%,20%);
    opacity: 0.75;
    font-size: 0.9rem;
}

.foot ul li a:hover {
    border-bottom: 2px solid rgba(26, 25, 25, 0.6);
}

.foot-img img {
    height: 40px;
}

.hire {
    color: #1e6af6;
}
.hire a {
    color: #1e6af6 !important;
    border-bottom: 2px solid #1e6af6 !important;
}

.no-underline {
    margin-top: 4%;
}

.no-underline a{
    border: none !important;
}

.explore {
    margin-top: -2%;
}

.terms {
    text-decoration: none !important;
    color: gray;
    font-size: 0.8rem;
    margin-top: 50px;
}

.terms a {
    color: gray !important;
    font-size: 0.8rem !important;
}

@media screen and (max-width: 830px){
    .navigation-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: flex;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        overflow-y: scroll;
    } 

     .menu-icons{
        display: block;
    } 

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close{
        display: block;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .navigation-list{
        display: flex;
    }
    
    .img {
        margin-left: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width:986px) {
    .organize {
        margin-left: 10%;
    }
    .chart {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1146px) {
    .billy {
        width: 85%;
    }
}

@media screen and (max-width:764px) {
    .mobile {
        transform: translateX(30%);
    }
    .mac {
        display: none;
    }
    .astronaunt {
        display: none;
    }

    .organize {
        display: none;
    }
    .ipad {
        display: none;
    }
}

@media screen and (max-width:646px) {
    .mac {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .mobile {
        transform: translateX(15%);
    }
    .spread {
        margin-top: 10%;
        font-size: 1.8rem
    }
    .sign-up {
        top: 55%;
    }
    .sign-up a {
        font-size: 1.0rem;
        padding: 0.3rem;
    }
    .sub input {
        width: 50%;
    }
}

